{% extends "base.html" %}

{% block content %}
<h2 class="mb-3">Dodaj nowy przedmiot</h2>
    <form action="{{ url_for('products.add_item') }}" method="post" class="row row-cols-1 row-cols-md-2 g-3 center-form">
        {{ form.csrf_token }}
        <div class="col-md-6">
            <label for="name" class="form-label">Nazwa produktu:</label>
            <input type="text" id="name" name="name" required class="form-control">
        </div>

        <div class="col-md-6">
            <label for="color" class="form-label">Kolor:</label>
            <select id="color" name="color" required class="form-select">
                <option value="Czerwony">Czerwony</option>
                <option value="Niebieski">Niebieski</option>
                <option value="Zielony">Zielony</option>
                <option value="Czarny">Czarny</option>
                <option value="Biały">Biały</option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="barcode" class="form-label">Kod kreskowy:</label>
            <input type="text" id="barcode" name="barcode" class="form-control">
            <button type="button" class="btn btn-secondary mt-2" onclick="startBarcodeScan()">Skanuj kod kreskowy</button>
        </div>

        {% for size in ['XS', 'S', 'M', 'L', 'XL', 'Uniwersalny'] %}
            <div class="col-md-6">
                <label for="barcode_{{ size }}" class="form-label">Kod kreskowy ({{ size }}):</label>
                <input type="text" id="barcode_{{ size }}" name="barcode_{{ size }}" class="form-control">
                <label for="quantity_{{ size }}" class="form-label mt-1">Ilość ({{ size }}):</label>
                <input type="number" id="quantity_{{ size }}" name="quantity_{{ size }}" min="0" value="0" class="form-control">
            </div>
        {% endfor %}

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Dodaj produkt</button>
        </div>
    </form>

    <!-- Kontener skanera kodów kreskowych -->
    <div id="scanner-container" style="display: none;"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
    <script>
        function startBarcodeScan() {
            document.getElementById("scanner-container").style.display = "block"; // Pokazuje kontener skanera

            Quagga.init({
                inputStream: {
                    type: "LiveStream",
                    target: document.querySelector('#scanner-container'),
                    constraints: {
                        facingMode: "environment"
                    }
                },
                decoder: {
                    readers: ["code_128_reader", "ean_reader", "ean_8_reader", "upc_reader"]
                }
            }, function(err) {
                if (err) {
                    console.log(err);
                    return;
                }
                Quagga.start();
            });

            Quagga.onDetected(function(data) {
                document.getElementById("barcode").value = data.codeResult.code;
                document.getElementById("scanner-container").style.display = "none"; // Ukrywa kontener po zeskanowaniu
                Quagga.stop();
            });
        }
    </script>
{% endblock %}
