{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h3 class="text-center">Edytuj przedmiot</h3>
    <form method="POST" action="{{ url_for('products.edit_item', product_id=product['id']) }}" class="row row-cols-1 row-cols-md-2 g-3 center-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="col-md-6">
            <label for="name" class="form-label">Nazwa:</label>
            <input type="text" id="name" name="name" value="{{ product['name'] }}" class="form-control" required>
        </div>

        <div class="col-md-6">
            <label for="color" class="form-label">Kolor:</label>
            <input type="text" id="color" name="color" value="{{ product['color'] }}" class="form-control" required>
        </div>


        <div class="col-12">
            <label for="sizes" class="form-label">Ilości dla rozmiarów:</label>
            <div class="row g-2">
                {% for size, info in product_sizes.items() %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <label class="form-label">{{ size }}:</label>
                        <input type="text" name="barcode_{{ size }}" value="{{ info['barcode'] }}" class="form-control" placeholder="Kod kreskowy">
                        <input type="number" name="quantity_{{ size }}" value="{{ info['quantity'] }}" min="0" class="form-control mt-1">
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary mt-3">Zapisz zmiany</button>
        </div>
    </form>
</div>


{% endblock %}
