{% extends "base.html" %}

{% block content %}
    <h2 class="mb-3">Import produktów z pliku Excel</h2>
    <form action="{{ url_for('products.import_products') }}" method="POST" enctype="multipart/form-data" class="row g-3">
        <div class="col-auto">
            <input type="file" name="file" required class="form-control">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Zaimportuj</button>
        </div>
    </form>
    <a href="{{ url_for('home') }}" class="btn btn-link mt-3">Powrót do strony głównej</a>
{% endblock %}
