{% extends "base.html" %}

{% block content %}

<div class="container text-center mt-5">
<div class="table-responsive">

 <table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>Nazwa produktu</th>
            <th>Kolor</th>
            <th>XS</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>Uniwersalny</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product['name'] }}</td>
            <td>{{ product['color'] }}</td>
            {% for size in ['XS', 'S', 'M', 'L', 'XL', 'Uniwersalny'] %}
            <td>
                <form method="POST" action="{{ url_for('products.update_quantity', product_id=product['id'], size=size) }}" class="form-inline quantity-form">
                    <button type="submit" name="action" value="decrease" class="btn btn-danger btn-sm btn-quantity">-</button>
                    <span class="quantity-value">{{ product['sizes'][size] }}</span>
                    <button type="submit" name="action" value="increase" class="btn btn-success btn-sm btn-quantity">+</button>
                </form>
            </td>
            {% endfor %}
            <td>
                <a href="{{ url_for('products.edit_item', product_id=product['id']) }}" class="btn btn-warning btn-sm">Edytuj</a>
                <form action="{{ url_for('products.delete_item', item_id=product['id']) }}" method="POST" style="display: inline;" onsubmit="return confirm('Czy na pewno chcesz usunąć ten przedmiot?');">
                    <button type="submit" class="btn btn-danger btn-sm">Usuń</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
</div>
<a href="{{ url_for('products.barcode_scan_page') }}" class="btn btn-primary mt-3">Skanuj kod kreskowy</a>

<footer>
    <a href="{{ url_for('home') }}">Powrót do strony głównej</a>
</footer>
{% endblock %}
