{% extends "base.html" %}

{% block content %}
<h2 class="mb-3 text-center">Ustawienia drukarki</h2>
<form method="post" class="row row-cols-1 row-cols-md-2 g-3 center-form mx-auto">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <table class="table">
        <tbody>
        {% for key, value in settings.items() %}
        <tr>
            <th scope="row">{{ key }}</th>
            <td>
                <input type="text" class="form-control" id="{{ key }}" name="{{ key }}" value="{{ value }}">
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Zapisz</button>
</form>
{% endblock %}
